.menu{ width:902px;
      margin:0 auto;
      
}

#menu {
    background:#800000;
    float: left;
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
   }
   
#menu li{
    float: left;
    font: 70% "Lucida Sana Unicode", "Bitstream Vera Sana", "Trebuchet Unicode MS", "Lucida Grande";
    margin: 0;
    padding:0;
}   

#menu a{
    background:#800000;
    color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
    
}

#menu a:hover {
    background: #B22222;
    color: #fff;
   
    
}

#topo img#icone {
    position: absolute;
    left:970px ;
    top: 120px;
}