@charset "utf-8";
/*CSS Documents*/
body{
    margin:0;
    padding:0;
    background:#f3f3f3;
    
}

#topo{margin:0 auto;
      height: 180px; 
      width: 900px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-bottom: 2px #336633 solid;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

  
#rodape {
      margin:0 auto;
      height: 20px; 
      width: 900px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-top: 2px #336633 solid;
      font-family: Arial;
      font-size:12px;
      text-align: center;
      padding: 0px;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}    

#conteudo {
    width:900px; 
    height:auto;
    border: 1px #D3D3D3 solid;
    margin:0 auto;
    background: #FfF;
    clear: both;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
         
}
#conteudo h2{
    font-family: Arial, sans-serif;
}
#conteudo hr{
    border: 1px #D3D3D3 solid;
}
#cont { 
    margin: 10px;
    font-size: 12px; 
    padding: 0px;
    
}


#contcad { 
    position: absolute;
    left: 910px;
    top: 230px;
    
    font-size: 12px;   
    border-left: 1px #ccc solid;
}
#contcad li{
    background:#800000;
    list-style: none; 
   
}
#contcad a{
    padding: 6px;
    display: block;
    text-decoration: none;
    color:#fff; 
}

#contcad a:hover {
    background: #B22222;
    color: #fff;
    padding: 6px;
}

#butaopas {
    margin-left: 698px;
    color: #708090; 
}

#butaopas a{
    padding: 8px;
    font-size: 11pt;
    text-decoration: none;
    color:#708090;
}
#butaopas a:hover{
    text-decoration: none;
    color:#2F4F4F;
}

#butaotax {
    
    margin-left: 590px;
    color: #708090; 
}

#butaotax a{
    font-size: 11pt;
    padding: 8px;
    text-decoration: none;
    color:#708090;
}
#butaotax a:hover{
    text-decoration: none;
    color:#2F4F4F;
}

table#optabela {
    margin: auto;
    margin-top: 0px;
    width:800px;
    border-spacing: 0px;
  
    
}
table#optabela td {
 padding: 2px;   
 margin: 0 auto;
 background: #DCDCDC;
 
 
 }
 
 table#optabela td.topo{
     background:#A9A9A9;
     text-align: center;
     font-size: 12pt;
     padding: 0px 
 }
 /*
 table#tabelatax {
     margin: auto;
    margin-right:auto;
    width:800px;
    height: 150px;
    border-spacing: 0px;
    }
    
table#tabelatax td {
 padding: 2px;   
 margin: 0 auto;
 background: #DCDCDC;
 }
 */
 
#busca{ 
    width:800px ;
    margin-left: 250px;
    font-size: 12px;   
    border-left: 1px #ccc solid;
    margin-top:-30px;
}

